html, body, div
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    width: 100%;
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
}

#void
{
    flex-grow: 1;
    height: 100%;
    background-color: #fff;
}

.column
{
    flex-shrink: 0;

    margin-left: 0;
    height: 100%;/*
    overflow: auto;*/
    overflow: hidden;
    background-color: #fff;
    transition: margin-right 1s linear;
}
/*
.column::-webkit-scrollbar
{
    display: none;
}*/

@keyframes anime-ol
{
    0%
    {
        margin-right: -10em;
    }
    100%
    {
        margin-right: 0;
    }
}

@keyframes anime-table
{
    0%
    {
        margin-right: -24em;
    }
    100%
    {
        margin-right: 0;
    }
}

.cell
{
    border: solid 0.2em #fff;
    background-color: #fff;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover
{
    background-color: #eee;
    color: #fff;
}

.exist
{
    background-color: #eee;
    color: #888;
}

.exist:hover
{
    background-color: #888;
    color: #fff;
}

.account.exist
{
    background-color: #ddf;
    color: #66a;
}

.account.exist:hover
{
    background-color: #66a;
    color: #fff;
}

.exist.selected
{
    background-color: #cfc;
    color: #6a6;
}

.exist.selected:hover
{
    background-color: #6a6;
    color: #fff;
}

.cell.reffersource
{
    background-color: #fcc;
    color: #a66;
}

.cell.reffersource:hover
{
    background-color: #a66;
    color: #fff;
}

.ol
{
    width: 10em;
    animation: anime-ol 1s linear;
}

.ol.hide
{
    margin-right: -10em;
}

.li, .account
{
    height: 3em;
}

.table
{
    width: 24em;
    animation: anime-table 1s linear;
}

.table.hide
{
    margin-right: -24em;
}

.tr
{
    height: 3em;

    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.td
{
    flex-shrink: 0;

    width: 3em;
    height: 3em;
}

#enhelp
{
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: solid 10em rgba(0, 0, 0, 0);
    border-right: solid 10em #eee;
    color: #888;
}

#enhelp:hover
{
    border-right: solid 10em #bbb;
    color: #fff;
}

#enhelp>div
{
    position: absolute;
    left: 4.5em;
    bottom: 0;
    width: 5.5em;
    height: 5.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#enhelp>div>span
{
    font-size: 1.5em;
}

.modal
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5%;

    display: none;
}

.modal form
{
    flex-grow: 1;
    background-color: #fff;
    padding: 5%;
}

#toast
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    color: #fff;

    display: none;
    justify-content: center;
    align-items: center;
}

#toast.toggler
{
    animation: anime-toast1 1s ease-in;
}

#toast:not(.toggler)
{
    animation: anime-toast2 1s ease-in;
}

@keyframes anime-toast1
{
    0%
    {
        z-index: 99;
        opacity: 1;
    }
    100%
    {
        z-index: -1;
        opacity: 0;
    }
}

@keyframes anime-toast2
{
    0%
    {
        z-index: 99;
        opacity: 1;
    }
    100%
    {
        z-index: -1;
        opacity: 0;
    }
}